:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
}

.header-container {
  background-color: rgb(27, 184, 111);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  position: static;
  height: 60px;
}

.company-logo-container {
  width: 100px;
}

.company-logo {
  margin-top: 5px;
  width: 100%;
}

.search-button {
  height: 100%;
  width: 35px
}

.search-bar-form {
  display: flex;
  align-content: center;
}

.cart-container {
  width: 100px;
}

.cart-image {
  width: 100%;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card {
  border-radius: 5px;
  width: 18rem;
}

.card-image {
  width: 100%;
}
