:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
}

.main-page{
  display: flex;
  flex-direction: row;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card {
  border-radius: 5px;
  width: 18rem;
}

.card-image {
  width: 100%;
}
